nvidia-nccl-cu12==2.26.2
cfgv==3.4.0
sphinxcontrib-jsmath==1.0.1
websocket-client==1.8.0
pandas-datareader==0.10.0
nvidia-curand-cu12==10.3.7.77
frozendict==2.4.6
packaging==25.0
scikit-learn==1.6.1
imageio==2.37.0
tzdata==2025.1
importlib_resources==6.5.2
albumentations==2.0.8
sphinxcontrib-htmlhelp==2.1.0
joblib==1.4.2
nodeenv==1.9.1
scipy==1.15.1
libclang==18.1.1
matplotlib==3.10.0
nvidia-cuda-cupti-cu12==12.6.80
mdurl==0.1.2
wandb==0.21.0
smmap==5.0.2
Markdown==3.7
pytz==2024.2
scikit-image==0.25.2
watchfiles==1.0.4
traitlets==5.14.3
msgpack==1.1.1
jupyter==1.1.1
pycparser==2.22
docker==7.1.0
triton==3.3.1
matplotlib-inline==0.1.7
pycodestyle==2.14.0
isoduration==20.11.0
stringzilla==3.12.5
httpcore==1.0.7
distlib==0.3.9
propcache==0.3.2
aiohappyeyeballs==2.6.1
zipp==3.23.0
websockets==15.0.1
tomli==2.2.1
holidays==0.75
sqlmodel==0.0.24
python-json-logger==3.3.0
jupyterlab_pygments==0.3.0
babel==2.17.0
simplejson==3.20.1
pathspec==0.12.1
threadpoolctl==3.5.0
click==8.1.8
aiosignal==1.4.0
fqdn==1.5.1
gast==0.6.0
nvidia-cusparse-cu12==12.5.4.2
annotated-types==0.7.0
prometheus_client==0.22.1
jaxlib==0.6.2
aiohttp==3.12.13
simsimd==6.4.9
peewee==3.17.8
etils==1.13.0
zope.interface==7.2
h11==0.14.0
uri-template==1.3.0
flatbuffers==25.2.10
jsonpointer==3.0.0
pydantic==2.10.6
frozenlist==1.7.0
greenlet==3.1.1
python-dotenv==1.0.1
pyzmq==26.2.0
ipykernel==6.29.5
optree==0.14.0
platformdirs==4.3.6
pyarrow==20.0.0
pytest-cov==6.2.1
numpy==1.26.4
mistune==3.1.3
starlette==0.46.1
retrying==1.4.0
Werkzeug==3.1.3
toolz==1.0.0
sniffio==1.3.1
networkx==3.4.2
gunicorn==23.0.0
nbclient==0.10.2
notebook_shim==0.2.4
keras==3.8.0
click-plugins==1.1.1.2
requests==2.32.3
xgboost==3.0.2
pydantic_core==2.27.2
fastapi-cli==0.0.7
narwhals==1.45.0
rfc3986-validator==0.1.1
mysql-connector-python==9.2.0
chex==0.1.89
mlflow-skinny==3.1.1
flax==0.10.7
jupyter_client==8.6.3
widgetsnbextension==4.0.14
tornado==6.4.2
prompt_toolkit==3.0.50
referencing==0.36.2
cffi==1.17.1
pyasn1_modules==0.4.2
cmdstanpy==1.2.5
treescope==0.1.9
cycler==0.12.1
nvidia-nvtx-cu12==12.6.77
shapely==2.1.1
tensorboard==2.18.0
contourpy==1.3.1
nvidia-cufile-cu12==1.11.1.6
virtualenv==20.31.2
iniconfig==2.1.0
cachetools==5.5.2
nvidia-cuda-runtime-cu12==12.6.77
nvidia-nvjitlink-cu12==12.6.85
fsspec==2024.12.0
async-lru==2.0.5
charset-normalizer==3.4.1
argon2-cffi-bindings==21.2.0
MarkupSafe==3.0.2
GitPython==3.1.44
jupyter-events==0.12.0
pytest==8.4.1
jupyter_server_terminals==0.5.3
nvidia-cusolver-cu12==11.7.1.2
urllib3==2.5.0
anyio==4.9.0
gym-notices==0.0.8
rsa==4.9.1
pandas-ta==0.3.14b0
wrapt==1.17.2
imgaug==0.4.0
dash==3.1.1
uvicorn==0.34.0
mypy==1.16.1
torch==2.7.1
QuantLib==1.38
httpx==0.28.1
torchvision==0.22.1
markdown-it-py==3.0.0
botocore==1.39.3
albucore==0.0.24
cligj==0.7.2
opencv-python-headless==4.11.0.86
sphinxcontrib-applehelp==2.0.0
fastapi==0.115.11
comm==0.2.2
PyYAML==6.0.2
decorator==5.1.1
opentelemetry-api==1.34.1
orbax-checkpoint==0.11.19
jsonschema-specifications==2025.4.1
graphene==3.4.3
opentelemetry-semantic-conventions==0.55b1
blinker==1.9.0
ipywidgets==8.1.7
psycopg2-binary==2.9.10
sentry-sdk==2.32.0
lightgbm==4.6.0
rpds-py==0.26.0
sqlparse==0.5.3
opentelemetry-sdk==1.34.1
pytorch-lightning==2.5.2
fastjsonschema==2.21.1
nvidia-cuda-nvrtc-cu12==12.6.77
beautifulsoup4==4.12.3
prophet==1.1.7
absl-py==2.1.0
rfc3339-validator==0.1.4
google-auth==2.40.3
DateTime==5.5
jupyter_server==2.16.0
affine==2.4.0
jupyter-lsp==2.2.5
types-python-dateutil==2.9.0.20250516
coverage==7.9.2
multitasking==0.0.11
graphql-core==3.2.6
jupyter-console==6.6.3
jsonschema==4.24.0
folium==0.20.0
docutils==0.21.2
Flask==3.1.1
pyflakes==3.4.0
jmespath==1.0.1
arrow==1.3.0
html5lib==1.1
uvloop==0.21.0
jupyter_core==5.7.2
tqdm==4.67.1
pandas==2.2.3
pluggy==1.6.0
pure_eval==0.2.3
geopandas==1.1.1
numba==0.61.2
ml_dtypes==0.5.1
humanize==4.12.3
parso==0.8.4
argon2-cffi==25.1.0
llvmlite==0.44.0
executing==2.2.0
asttokens==3.0.0
lazy_loader==0.4
lightning-utilities==0.14.3
nvidia-cufft-cu12==11.3.0.4
sphinxcontrib-serializinghtml==2.0.0
nbconvert==7.16.6
ipython==8.31.0
tifffile==2025.5.10
json5==0.12.0
jax==0.6.2
sphinxcontrib-qthelp==2.0.0
stack-data==0.6.3
black==25.1.0
importlib_metadata==8.7.0
sympy==1.14.0
seaborn==0.13.2
grpcio==1.70.0
jupyterlab_server==2.27.3
nest-asyncio==1.6.0
gym==0.26.2
itsdangerous==2.2.0
ta==0.11.0
tensorboard-data-server==0.7.2
pillow==11.3.0
bleach==6.2.0
mlflow==3.1.1
exceptiongroup==1.2.2
mccabe==0.7.0
databricks-sdk==0.57.0
terminado==0.18.1
tensorflow==2.18.0
email_validator==2.2.0
pip==25.1.1
debugpy==1.8.12
nbformat==5.10.4
typer==0.15.2
rich==13.9.4
cloudpickle==3.1.1
attrs==25.3.0
defusedxml==0.7.1
opt_einsum==3.4.0
pyogrio==0.11.0
imagesize==1.4.1
lxml==5.3.0
flake8==7.3.0
overrides==7.7.0
astunparse==1.6.3
yfinance==0.2.54
Pygments==2.19.1
jupyterlab==4.4.4
bokeh==3.7.3
pyasn1==0.6.1
gitdb==4.0.12
python-multipart==0.0.20
termcolor==2.5.0
wcwidth==0.2.13
rasterio==1.4.3
h5py==3.12.1
tensorflow-io-gcs-filesystem==0.37.1
alpha_vantage==3.0.0
typing_extensions==4.12.2
alabaster==1.0.0
pandocfilters==1.5.1
dnspython==2.7.0
psycopg2==2.9.10
jupyterlab_widgets==3.0.15
s3transfer==0.13.0
branca==0.8.1
tensorstore==0.1.76
httptools==0.6.4
mypy_extensions==1.1.0
xyzservices==2025.4.0
snowballstemmer==3.0.1
nvidia-cusparselt-cu12==0.6.3
optax==0.2.5
shellingham==1.5.4
alembic==1.16.2
fonttools==4.56.0
namex==0.0.8
identify==2.6.12
graphql-relay==3.2.0
mpmath==1.3.0
fiona==1.10.1
opencv-python==4.11.0.86
Send2Trash==1.8.3
rich-toolkit==0.13.2
boto3==1.39.3
yarl==1.20.1
protobuf==5.29.3
multidict==6.6.3
pyproj==3.7.1
Jinja2==3.1.5
Sphinx==8.1.3
pre_commit==4.2.0
kiwisolver==1.4.8
stanio==0.5.1
python-dateutil==2.9.0.post0
webcolors==24.11.1
notebook==7.4.4
plotly==6.2.0
filelock==3.18.0
SQLAlchemy==2.0.39
torchmetrics==1.7.4
sphinxcontrib-devhelp==2.0.0
nvidia-cudnn-cu12==9.5.1.17
jedi==0.19.2
ray==2.47.1
google-pasta==0.2.0
nvidia-cublas-cu12==12.6.4.1
course-identifier==0.1.0
importlib-metadata==4.6.4
louis==3.20.0
plotly==5.4.0
command-not-found==0.3
python-debian==0.1.43+ubuntu1.1
setproctitle==1.2.2
Brlapi==0.8.3
protobuf==3.12.4
attrs==21.2.0
Pillow==9.0.1
PyQt5==5.15.6
lxml==4.8.0
ubuntu-drivers-common==0.0.0
distro==1.7.0
apturl==0.5.2
numpy==1.21.5
pycairo==1.20.1
eyeD3==0.8.10
pyRFC3339==1.1
lazr.uri==1.0.6
pyelftools==0.27
MarkupSafe==2.0.1
SecretStorage==3.3.1
pip==22.0.2
python-gnupg==0.4.8
GDAL==3.4.1
blinker==1.4
jsonschema==3.2.0
gyp==0.1
xkit==0.0.0
QScintilla==2.11.6
pyxdg==0.27
zipp==1.0.0
keyring==23.5.0
html5lib==1.1
launchpadlib==1.10.16
requests==2.25.1
Unidecode==1.3.3
urllib3==1.26.5
python-magic==0.4.24
systemd-python==234
pyinotify==0.9.6
ifaddr==0.1.7
netaddr==0.8.0
defer==1.0.6
reportlab==3.6.8
pbr==5.8.0
Jinja2==3.0.3
lazr.restfulclient==0.14.4
scipy==1.8.0
Pygments==2.11.2
PAM==0.4.2
soupsieve==2.3.1
yt-dlp==2022.4.8
idna==3.3
gast==0.5.2
httplib2==0.20.2
IMDbPY==2021.4.18
netifaces==0.11.0
async-timeout==4.0.1
ipython_genutils==0.2.0
xlrd==1.2.0
nbformat==5.1.3
certifi==2020.6.20
fonttools==4.29.1
onboard==1.4.1
sympy==1.9
more-itertools==8.10.0
unicodedata2==14.0.0
Brotli==1.0.9
chardet==4.0.0
dbus-python==1.2.18
click==8.0.3
pyparted==3.11.7
ufw==0.36.1
appdirs==1.4.4
psycopg2==2.9.2
oauthlib==3.2.0
jeepney==0.7.1
python-xlib==0.29
Babel==2.8.0
pymacaroons==0.13.0
fs==2.4.12
apt-clone==0.2.1
pyparsing==2.4.7
ptyprocess==0.7.0
decorator==4.4.2
jupyter-core==4.9.1
ttystatus==0.38
Markdown==3.3.6
traitlets==5.1.1
requests-file==1.5.1
PyQt5-sip==12.9.1
tldextract==3.1.2
wheel==0.37.1
OWSLib==0.25.0
beniget==0.4.1
pyproj==3.3.0
cmdtest==0.32+git
webencodings==0.5.1
pycups==2.0.1
mpmath==0.0.0
python-dateutil==2.8.1
macaroonbakery==1.3.1
cryptography==3.4.8
pycryptodomex==3.11.0
Mako==1.1.3
psutil==5.9.0
websockets==9.1
pytz==2022.1
six==1.16.0
future==0.18.2
PyNaCl==1.5.0
cycler==0.11.0
python-apt==2.4.0+ubuntu4
filelock==3.6.0
PyYAML==5.4.1
pythran==0.10.0
pycurl==7.44.1
ufoLib2==0.13.1
ply==3.11
colorama==0.4.4
cupshelpers==1.0
configobj==5.0.6
PyICU==2.8.1
kiwisolver==1.3.2
pexpect==4.8.0
tinycss2==1.1.1
wadllib==1.3.6
tenacity==6.3.1
pyrsistent==0.18.1
packaging==21.3
matplotlib==3.5.1
PyGObject==3.42.1
beautifulsoup4==4.10.0
qrcode==7.3.1
cliapp==1.20180812.1
setuptools==59.6.0
typing-extensions==3.10.0.2
lz4==3.1.3+dfsg
xdg==5
PyJWT==2.3.0
mutagen==1.45.1
nemo-emblems==6.0.1
